.loginContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--border-color);
  height: 100vh;
}

.loginForm {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--shadow-color);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.loginForm h2 {
  margin-bottom: 20px;
  color: var(--main-color);
  text-align: center;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  color: var(--main-color);
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--input-background);
  color: var(--main-color);
  box-sizing: border-box;
}

.inputGroup input::placeholder {
  color: var(--placeholder-color);
}

.passwordWrapper {
  position: relative;
}

.passwordToggle {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--main-color);
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-style: normal;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 29px;
}

.submitButton:hover {
  background-color: var(--button-hover-color);
}

.registerText {
  text-align: center;
  margin-top: 15px;
  color: var(--main-color);
}

.registerText a {
  color: var(--main-color);
  text-decoration: underline;
}

.registerText a:hover {
  color: var(--button-hover-color);
}

@media (max-width: 480px) {
  .loginForm {
    padding: 15px;
  }

  .inputGroup input {
    padding: 8px;
  }

  .submitButton {
    padding: 8px;
  }
}
