.container {
  background-color: var(--border-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  max-width: 800px;
  margin: 40px auto;
}

.tabContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  color: var(--main-color);
  background-color: var(--navbar-background);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  flex: 1;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: var(--hover-color);
  color: white;
}

.activeTab {
  border-bottom: 3px solid var(--main-color);
}

.uploadContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.uploadButton,
.sendButton {
  background-color: var(--button-color);
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.uploadButton:hover,
.sendButton:hover {
  background-color: var(--button-hover-color);
}

.imagePreviewContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
